* {
	font-family: Tahoma, Geneva, sans-serif;
	box-sizing: border-box;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

h1 {
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 1.75em;
}

.items {
	background-color: #999999;
	border: 1px solid black;
	width: 90%;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
	
}

.title {
	border: 1px solid black;
	width: 100px;
	font-size: 1.25em;
	float: right;
	text-align: center;
	font-weight: bold;
	padding: 2px;
}

#sec1 {
	background-color: #D59898;
}

#sec2 {
	background-color: #C14543;
	color: white;
}

#sec3 {
	background-color: #E5D198;
}

.items > p {
	clear: right;
	padding: 10px;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
/* @media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;xs
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

********* Medium devices only *********
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

********* Small devices only *********
@media (max-width: 767px) {
  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
    
  }
  .col-xs-1 {
    width: 8.33%;
  }
  .col-xs-2 {
    width: 16.66%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33%;
  }
  .col-xs-5 {
    width: 41.66%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33%;
  }
  .col-xs-8 {
    width: 66.66%;
  }
  .col-xs-9 {
    width: 74.99%;
  }
  .col-xs-10 {
    width: 83.33%;
  }
  .col-xs-11 {
    width: 91.66%;
  }
  .col-xs-12 {
    width: 100%;
  }
} */

/********** Large devices only **********/
@media (min-width: 992px) {
	.block {
		width: 33.33%;
		float: left;
	}
}

/********** Medium devices only *********/
@media (min-width: 768px) and (max-width: 991px) {
	.block {
		width: 50%;
		float: left;
	}

	#lastBlock {
		width: 100%;
	}
	
	#item3 {
		width: 95%;
	}
}

/********* Small devices only *********/
@media (max-width: 767px) {
	.block {
		width: 100%;
		float: left;
	}
}




